@media (max-width: 1160px){
    .container{
        width: 1040px;
    }
    .container > .business{
        width: 400px;
    }

    .business .business-text {
        font-size: 14px;
    }

    .xizmatlar-item{
        width: 250px;
    }

    .xizmatlar-item img{
        width: 180px;
    }
}

@media (max-width: 1060px){
    .container{
        width: 940px;
    }
    
}

@media (max-width: 960px){
    .container{
        width: 840px;
    }
    .nav-list{
        width: 450px;
        flex-wrap: wrap;
    }

    .logo{
        width: 200px;
    }

    .header > .container{
        display: block;
        text-align: center;
    }

    .container > .business{
        width: 100%;
    }

    .business > .business-title{
        font-size: 35px;
    }
    
    .business > .business-text{
        padding: 30px 100px;
    }

    .container > .video{
        width: 500px;
        height: 300px;
        margin-top: 30px;
        margin-left: 100px;
    }

    .xizmatlar .container > .xizmatlar-title{
        font-size: 40px;
        margin-top: 15px;
    } 
    
    .xizmatlar .container > .xizmatlar-text {
        padding: 20px 100px;
    }
    .xizmatlar .container > .xizmatlar-item {
        width: 200px;
    }

    .xizmatlar .container > .xizmatlar-item img {
        width: 150px;
    }

    .ishlash .container > .ishlash-text{
        padding: 40px 100px;
    }

    .ishlash .container > .ishlash-title{
        font-size: 40px;
    }

    .ishlash-item {
        width: 600px;
    }
    .ishlash-item img{
        width: 300px;
        height: 150px;
    }

    .ishlash-item > .talaba{
        width: 100%;
    }
    .ishlash-item > .talaba .talaba-title{
        font-size:  20px;
    }

    .form .container> .form-text{
        padding: 0 100px;
    }
    .form-title {
        text-align: center;
        margin: 30px 20px;
}

@media (max-width: 880px){
    .container{
        width: 740px;
    }
}

@media (max-width: 760px){
    .container{
        width: 600px;
    }

    .nav > .container{
        display: block;
        text-align: center;
    }

    .logo{
        width: 300px;
        margin-left: 50px;
    }

    .nav-list {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        /* flex-wrap: wrap; */
    }
    

    .nav-item{
        font-size: 10px;
    }

    .container > .video {
        margin-top: 30px;
        margin-left: 50px;
    }

    .container > .business {
        margin-left: 10px;
    }

    .business > .business-text {
        padding: 30px 23px;
    }

    .xizmatlar .container > .xizmatlar-text {
        padding: 20px 14px;
        font-size: 15px;
    }

    .xizmatlar-item {
        width: 180px;
    }

    .xizmatlar-item img {
        width: 100px;
    }

    .xizmatlar-item a{
        font-size: 12px;
    }

    .ishlash .container > .ishlash-text {
        padding: 40px 10px;
        font-size: 15px;
    }

    .form .container > .form-text {
        padding: 0 10px;
        font-size: 15px;

    }
    footer > .container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .copy .copy-text {
        font-size: 12px;
    }
    .sayt-list{
        margin-left: 100px;
    }
}

@media (max-width: 660px){
    .container{
        width: 540px;
    }

    .business > .business-text {
        padding: 30px 33px;
        font-size: 12px;
    }

    .container > .video {
        margin-top: 30px;
        margin-left: 20px;
    }

    .xizmatlar .container > .xizmatlar-text {
        padding: 20px 33px;
        font-size: 12px;
    }

    .buyurtma-link {
        font-size: 12px;
    }

    .sahifa-link {
        font-size: 12px;
    }

    .ishlash .container > .ishlash-text{
        font-size: 12px;
    }

    .ishlash-item{
        width: 500px;
        margin-top: 30px;
    }
    .ishlash-item img {
        width: 250px;
        height: 120px;
    }

    .form .container > .form-text {
        padding: 0 10px;
        font-size: 12px;
    }

    .container .copy {
        color: white;
        width: 300px;
        margin-top: 30px;
    }

    .sayt-list {
        margin-left: 50px;
    }

}

@media (max-width: 560px){
    .container{
        width: 458px;
    }

    .business > .business-title {
        margin-top: 40px;
        font-size: 30px;
    }
    .business > .business-text {
        margin: 30px -9px;
        font-size: 10px;
    }

    .container > .video {
        margin-top: 30px;
        margin-left: 30px;
        width: 400px;
        height: 250px;
    }

    .xizmatlar .container > .xizmatlar-title {
        font-size: 30px;
    }
    .xizmatlar .container > .xizmatlar-text {
        padding: 20px 33px;
        font-size: 10px;
    }

    .ishlash .container > .ishlash-title {
        font-size: 30px;
    }

    .ishlash .container > .ishlash-text {
        font-size: 10px;
    }

    .ishlash-item{
        width: 500px;
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    .ishlash-list .row{
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    .ishlash-item > .talaba {
        display: block;
    }

    .ishlash-item > .talaba .talaba-title {
        font-size: 18px;
        margin: 20px 0;
    }

    .talaba-text {
        font-size: 15px;
        padding: 0 100px;
    }

    .form .container > .form-text {
        padding: 0 10px;
        font-size: 10px;
    }

    .form-title{
        font-size: 30px;
    }

    .sayt-list {
        margin-left: 0px;
    }

    .internet-list {
        margin-left: 50px;
        margin-top: -20px;
    }
}

@media (max-width: 460px){
    *{
        border: 1px solid red;
    }
    .container{
        width: 90%;
        /* padding: 50px; */
    }

    .nav > .container {
        display: flex;
        justify-content: space-between;
        width: 350px    ;
    }

    .nav-list{
        display: none;
    }

    .logo{
        width: 100px;
        margin-left: 10px;
    }

    .hamburger{
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .container > .business{
        margin-left: 1px;
    }
    .business > .business-text {
        padding: 30px 32px;
        font-size: 10px;
    }
    .business > .business-title {
        margin-top: 40px;
        font-size: 25px;
    }

    .container > .video {
        margin-top: 30px;
        /* margin-left: 15px; */
        width: 300px;
        height: 180px;
    }

    .xizmatlar .container > .xizmatlar-text {
        padding: 20px 35px;
        font-size: 10px;
    }

    .xizmatlar .container > .xizmatlar-title {
        font-size: 25px;
    }

    .sahifa-link {
        font-size: 10px;
    }

    .ishlash-item {
        width: 350px;
    } 

    .ishlash-item > .talaba .talaba-title{
        font-size: 15px;
    }

    .talaba-text {
        font-size: 10px;
        padding: 0 40px;
    }   

    .ishlash .container > .ishlash-text{
        padding: 10px 30px;
    }

    .ishlash .container > .ishlash-title {
        font-size: 25px;
    }

    .form .container > .form-text {
        padding: 10px 30px;
        font-size: 10px;
    }

    .form-title {
        font-size: 25px;
    }
    form input {
        width: 210px;
    }
    form select {
        width: 210px;
    }

    form .order {
        padding: 10px 63px;
    }
    footer > .container {
        flex-wrap: wrap;
        padding-left: 20px;
        padding-top: 30px;
    }
    .sayt-list h2{
        font-size: 20px;
    }

    .sayt-link {
        font-size: 12px;
    }
    .internet-list {
        margin-top: -5px;
        margin-left: 10px;
        padding: 23px;
    }

    .internet-link p{
        font-size: 12px;
    }

    .internet-title {
        font-size: 20px;
        margin-top: -20px;
    }
    .cop-title{
        font-size: 20px;
    }
 
}