@media (max-width: 1140px){
    .nav{
        width: 1139px;
    }
    .nav .container{
        width: 900px;
    }
    
    .header .container {
        width: 1040px;
    }
    
    .business .business-title{
        font-size: 25px;
        line-height: 100%;
    }
    .business .business-text {
        font-size: 12px;
        line-height: 20px;
        padding: 20px 0;
    }

    .xizmatlar-list {
        width: 1000px;
    }

    .xizmatlar-item {
        padding: 30px;
    }
    
    .business-link {
        background: #00BAFC;
        border-radius: 5px;
        color: white;
        padding: 7px;
    }
    .form{
        width: 1139px;
    }
    footer{
        width: 1139px;
    }
    footer .container{
        width: 940px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

@media (max-width: 1100px){
    
    .nav .container {
        width: 900px;
    }
    .header .container {
        width: 1040px;
    }
    footer .container{
        width: 940px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media (max-width: 1058px){
    .nav .container {
        width: 900px;
        margin-right: 157px;
    }   
    .header .container {
        width: 940px;
    }
    .business .business-text {
        font-size: 12px;
        line-height: 25px;
        padding: 20px 0;
        padding-right: 50px;
    }
}

@media (max-width: 957px){
    .nav .container {
        width: 900px;
        margin-right: 200px;
    }

    .xizmatlar .container {
        width: 1040px;
    }
    .ishlash .container {
        width: 1040px;
    }
    .ishlash-item {
        width: 600px;
    }

    .form .container {
        width: 900px;
        margin-right: 200px;
    }
    footer .container {
        width: 940px;
    }

    .sayt-list {
        margin-top: 37px;
    }
    .sayt-item {
        font-size: 11px;
        padding-top: 10px;
    }

    .internet-list {
        margin-bottom: 10px;
        color: white;
        margin-right: 80px;
    }
    .copy .copy-text {
        font-size: 12px;
        line-height: 33px;
        margin: 20px 0;
    }
}

@media (max-width: 913px){
    .nav .container .logo{
        /* width: 900px; */
        width: 200px;
    }
    .nav .container  {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        width: 900px;
        margin-left: 20px;
        margin: 0 auto;
    }

    .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 500px;
        margin-right: 200px;
    }
    nav-link number
    .nav-item{
        width: 150px;
    }
    .header{
        margin: 0 auto;
    }
    .header .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .container .business {
        text-align: center;
        margin-left: 40px;
    }
    iframe {
        width: 500px;
        height: 300px;
        margin-top: 20px;
    }

    .xizmatlar .container {
        width: 900px;
        margin: 0 auto;
    }
    .xizmatlar-title{
        margin-right: 20px;
    }
    .xizmatlar-text {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
    .ishlash .container {
        width: 900px;
        margin: 0 auto;
    }
    .ishlash-item img {
        width: 300px;
        height: 150px;
    }
    .ishlash-item .talaba {
        line-height: 20px;
    }
    .talaba-text {
        font-size: 12px;
        line-height: 24px;
        margin-top: 10px;
    }
    footer .container {
        width: 900px;
        margin: 0 auto;
    }
    .internet-list {
        font-size: 13px;
        margin-bottom: 10px;
        color: white;
        margin-right: 180px;
    }
    .sayt-list {
     font-size: 13px;
    }
    .sayt-list .sayt-title{
        font-size: 20px;
    }

    .container .copy{
        width: 200px;
        margin-top: 80px;
    }
    .copy .copy-text{
        font-size: 10px;
    }
    footer .container{
        
    }
}
